<div class="container">
    </br>
    <div class="form-group row">
        <%= simple_form_for @capm_regression, url: {action: "capm_graph"}, html: {method: "get", class: "form-inline"}, remote: true do |f| %>
            <%= f.input :ticker, placeholder: 'O only please', label: false %>
            <%= f.input :index, placeholder: 'sp500 only please', label: false %>
            <%= f.input :start_date, as: :string, input_html: {type: :date, rows: 5} %>
            <%= f.input :end_date, as: :string, input_html: {type: :date} %>
            <%= f.button :submit, "Graph It", class: "btn-primary" %>
        <% end %>
        <hr>
    </div>
    
    <div class="graph_box">
        <h4>This is where the graph goes!</h4>
    </div>
</div>