<!DOCTYPE html>
<html>
<head>
  <title>Finance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <nav class="navbar navbar-full navbar-dark bg-primary">
    <a class="navbar-brand" href="#">T-Rex Analytics</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Features", welcome_features_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to"Learn", welcome_learn_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Beta", welcome_beta_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", welcome_about_path, class: "nav-link" %>
      </li>
      <% if current_user %>
        <li class="nav-item pull-right">Hello<%= link_to current_user.email, current_user, class: "nav-link pull-right" %>!</li>
      <% else %>
        <li class="nav-item pull-right"><%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        <li class="nav-item pull-right"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </nav>  

  
  <% if flash[:notice] %> 
    <div class="alert alert-success"> 
      <button type="button" class="close" data-dismiss="alert">&times;</button> 
         <%= flash[:notice] %> 
      </div> 
  <% elsif flash[:error] %> 
    <div class="alert alert-danger"> 
      <button type="button" class="close" data-dismiss="alert">&times;</button> 
        <%= flash[:error] %> 
    </div> 
  <% elsif flash[:alert] %> 
    <div class="alert alert-warning"> 
      <button type="button" class="close" data-dismiss="alert">&times;</button> 
        <%= flash[:alert] %> 
      </div> 
  <% end %> 


<%= yield %>

</body>
</html>
